@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* canh giữa ngang */
  align-items: flex-start;  /* bám lên trên thay vì giữa dọc */
  overflow: hidden;
}

/* Giao diện chính */
.wrapper {
  width: 1920px; /* kích thước thiết kế gốc */
  height: 1080px;
  transform: scale(var(--scale));
  transform-origin: top center; /* co giãn từ đỉnh giữa */
}

/* Wrapper chính chứa toàn bộ giao diện */
.GioiThieu {
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(calc(min(100vw / 1440, 100vh / 1024)));
  transform-origin: top right;
  background: white;
  overflow: hidden;
}


.slogang_span {
  color: #FC94AF;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.slogan-g- {
  width: 343px;
  height: 50px;
  left: 219px;
  top: 27px;
  position: absolute;
}

.rectangle-8 {
  width: 1048px;
  height: 823px;
  left: 392px;
  top: 201px;
  position: absolute;
  opacity: 0.20;
  background: white;
}

.hng_span {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.hng {
  left: 1316px;
  top: 131px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.rectangle-82 {
  width: 169px;
  height: 202px;
  left: 144px;
  top: 291px;
  position: absolute;
  opacity: 0.20;
  background: linear-gradient(180deg, #8353A5 0%, #FC94AF 100%);
  border-radius: 20px;
}

.rectangle-84 {
  width: 169px;
  height: 202px;
  left: 144px;
  top: 745px;
  position: absolute;
  opacity: 0.20;
  background: linear-gradient(180deg, #8353A5 0%, #FC94AF 100%);
  border-radius: 20px;
}

.tester_span {
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  line-height: 50px;
  word-wrap: break-word;
}

.tester {
  width: 130px;
  height: 52px;
  left: 162px;
  top: 895px;
  position: absolute;
  text-align: center;
}

.rectangle-83 {
  width: 169px;
  height: 202px;
  left: 144px;
  top: 518px;
  position: absolute;
  opacity: 0.20;
  background: linear-gradient(180deg, #8353A5 0%, #FC94AF 100%);
  border-radius: 20px;
}

.back-end_span {
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  line-height: 50px;
  word-wrap: break-word;
}

.back-end {
  width: 130px;
  height: 52px;
  left: 162px;
  top: 668px;
  position: absolute;
  text-align: center;
}

.rectangle-85 {
  width: 169px;
  height: 202px;
  left: 383px;
  top: 404px;
  position: absolute;
  opacity: 0.20;
  background: linear-gradient(180deg, #8353A5 0%, #FC94AF 100%);
  border-radius: 20px;
}

.front-end_span {
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  line-height: 50px;
  word-wrap: break-word;
}

.front-end {
  width: 130px;
  height: 52px;
  left: 403px;
  top: 554px;
  position: absolute;
  text-align: center;
}

.rectangle-86 {
  width: 169px;
  height: 202px;
  left: 383px;
  top: 631px;
  position: absolute;
  opacity: 0.20;
  background: linear-gradient(180deg, #8353A5 0%, #FC94AF 100%);
  border-radius: 20px;
}

.front-end_01_span {
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  line-height: 50px;
  word-wrap: break-word;
}

.front-end_01 {
  width: 130px;
  height: 52px;
  left: 403px;
  top: 781px;
  position: absolute;
  text-align: center;
}

.vchngti_span {
  color: #0D0D55;
  font-size: 20px;
  font-family: Inter;
  font-weight: 800;
  line-height: 50px;
  word-wrap: break-word;
}

.v-chng-ti {
  left: 144px;
  top: 222px;
  position: absolute;
  text-align: right;
}

.tmnhn_span {
  color: #0D0D55;
  font-size: 20px;
  font-family: Inter;
  font-weight: 800;
  line-height: 50px;
  word-wrap: break-word;
}

.tm-nhn {
  left: 708px;
  top: 289px;
  position: absolute;
  text-align: right;
}

.smnh_span {
  color: #0D0D55;
  font-size: 20px;
  font-family: Inter;
  font-weight: 800;
  line-height: 50px;
  word-wrap: break-word;
}

.s-mnh {
  left: 703px;
  top: 595px;
  position: absolute;
  text-align: right;
}

.pmback-end_span {
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  line-height: 50px;
  word-wrap: break-word;
}

.pmback-end {
  width: 130px;
  height: 52px;
  left: 150px;
  top: 441px;
  position: absolute;
  text-align: right;
}

.rectangle-87 {
  width: 574px;
  height: 198px;
  left: 711px;
  top: 356px;
  position: absolute;
  opacity: 0.20;
  background: linear-gradient(180deg, #0A0B5B 0%, white 100%);
  border-radius: 10px;
}

.image {
  width: 574px;
  height: 198px;
  left: 711px;
  top: 686px;
  position: absolute;
  opacity: 0.20;
  background: linear-gradient(180deg, #0A0B5B 0%, white 100%);
  border-radius: 10px;
}

.trangch_span {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.trang-ch {
  left: 838px;
  top: 73px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.giithiu_span {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.gii-thiu {
  left: 990px;
  top: 73px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.thngbo_span {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.thng-bo {
  left: 1145px;
  top: 73px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.generic-avatar {
  left: 1310px;
  top: 56px;
  position: absolute;
}

.image-2 {
  width: 338px;
  height: 313px;
  left: -61px;
  top: -59px;
  position: absolute;
}

.gioithieu {
  width: 1440px;
  height: 1024px;
  position: relative;
  background: #FFFEFE;
  overflow: hidden;
}
