<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập thành công</title>
</head>
<body>
    <div style="width: 1440px; height: 1024px; position: relative; background: white; overflow: hidden">
      <img style="width: 3082px; height: 2854px; left: -821px; top: -915px; position: absolute; opacity: 0.50"
           src="{{ url_for('static', filename='LogoFun_d_-remove.png') }}" alt="Logo"/>
      <div style="width: 432px; height: 346px; left: 488px; top: 363px; position: absolute; opacity: 0.85;
                  background: linear-gradient(90deg, #0D0D55 13%, #8353A5 92%); border-radius: 15px"></div>
      <!-- Form để gửi yêu cầu qua Flask -->
        <form action="{{ url_for('go_home') }}" method="POST">
            <button type="submit"
                    style="width: 156.23px; height: 40px; left: 653px; top: 610px; position: absolute;
                           border: none; border-radius: 10px; background: #D8CFFE; color: #0A0B5B;
                           font-size: 16px; font-family: Inter; font-weight: 800; cursor: pointer; z-index: 6;">
                Đóng
            </button>
        </form>

    <div style="left: 530px; top: 518px; position: absolute; color: white; font-size: 30px;
                  font-family: Inter; font-weight: 700; word-wrap: break-word">Đăng nhập thành công!</div>
    </div>
</body>
</html>