<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Danh sách thông báo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/test_ThongBao.css') }}">

<body>
  <div class="notification-list">
    <div class="notification">
      <div class="notification-left">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709496.png" class="icon" alt="Bell">
        <span class="message">Thông tin cập nhật của bạn đang chờ được xét duyệt</span>
      </div>
      <span class="date">ngày 20/10/2025</span>
    </div>

    <div class="notification">
      <div class="notification-left">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709496.png" class="icon" alt="Bell">
        <span class="message">Thông tin cập nhật của bạn đang chờ được xét duyệt</span>
      </div>
      <span class="date">ngày 20/10/2025</span>
    </div>

    <div class="notification">
      <div class="notification-left">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709496.png" class="icon" alt="Bell">
        <span class="message">Thông tin cập nhật của bạn đang chờ được xét duyệt</span>
      </div>
      <span class="date">ngày 20/10/2025</span>
    </div>

    <div class="notification">
      <div class="notification-left">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709496.png" class="icon" alt="Bell">
        <span class="message">Thông tin cập nhật của bạn đang chờ được xét duyệt</span>
      </div>
      <span class="date">ngày 20/10/2025</span>
    </div>
  </div>
</body>
</html>
