@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* canh giữa ngang */
  align-items: flex-start;  /* bám lên trên thay vì giữa dọc */
  overflow: hidden;
}

/* Giao diện chính */
.wrapper {
  width: 1920px; /* kích thước thiết kế gốc */
  height: 1080px;
  transform: scale(var(--scale));
  transform-origin: top center; /* co giãn từ đỉnh giữa */
}

/* Wrapper chính chứa toàn bộ giao diện */
.A_F_CaNhan2 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(calc(min(100vw / 1440, 100vh / 1024)));
  transform-origin: top right;
  background: white;
  overflow: hidden;
}

.rectangle-17 {
  width: 392px;
  height: 823px;
  left: 0px;
  top: 201px;
  position: absolute;
  opacity: 0.15;
  background: #8353A5;
  border-radius: 10px;
}

.rectangle-8 {
  width: 1048px;
  height: 823px;
  left: 392px;
  top: 201px;
  position: absolute;
  opacity: 0.20;
  background: white;
}

.rectangle-11 {
  width: 360px;
  height: 73px;
  left: 16px;
  top: 491px;
  position: absolute;
  opacity: 0.50;
  background: #0D0D55;
  border-radius: 10px;
}

.qunldliu_span {
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.qun-l-d-liu {
  left: 129px;
  top: 516px;
  position: absolute;
}

.rectangle-12 {
  width: 360px;
  height: 73px;
  left: 16px;
  top: 608px;
  position: absolute;
  opacity: 0.60;
  background: #0D0D55;
  border-radius: 10px;
}

.thngkvphntch_span {
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.thng-k-v-phn-tch {
  left: 95px;
  top: 633px;
  position: absolute;
}

.rectangle-14 {
  width: 360px;
  height: 73px;
  left: 16px;
  top: 842px;
  position: absolute;
  opacity: 0.80;
  background: #0D0D55;
  border-radius: 10px;
}

.qunlccchindch_span {
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.qun-l-cc-chin-dch {
  left: 96px;
  top: 868px;
  position: absolute;
}

.rectangle-13 {
  width: 360px;
  height: 73px;
  left: 16px;
  top: 725px;
  position: absolute;
  opacity: 0.70;
  background: #0D0D55;
  border-radius: 10px;
}

.hunluynvdon_span {
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.hun-luyn-v-d-on {
  left: 94px;
  top: 750px;
  position: absolute;
}

.rectangle-10 {
  width: 360px;
  height: 73px;
  left: 16px;
  top: 374px;
  position: absolute;
  opacity: 0.40;
  background: #0D0D55;
  border-radius: 10px;
}

.tngquan_span {
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.tng-quan {
  left: 150px;
  top: 399px;
  position: absolute;
}

.a_t_search_chucnang_span {
  color: var(--Schemes-On-Surface-Variant, #49454F);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.a_t_search_chucnang {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.trangch_span {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.trang-ch {
  left: 838px;
  top: 73px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.giithiu_span {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.gii-thiu {
  left: 990px;
  top: 73px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.thngbo_span {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.thng-bo {
  left: 1145px;
  top: 73px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.rectangle-81 {
  width: 100px;
  height: 30px;
  left: 1299px;
  top: 157px;
  position: absolute;
  background: #F6B5CA;
}

.canhn_span {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.ca-nhn {
  width: 85px;
  height: 18px;
  left: 1306.50px;
  top: 163px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.rectangle-81_01 {
  width: 100px;
  height: 30px;
  left: 1299px;
  top: 192px;
  position: absolute;
  background: #F6B5CA;
}

.cait_span {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.cai-t {
  width: 85px;
  height: 18px;
  left: 1306.50px;
  top: 198px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hng_span {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.hng {
  left: 1324px;
  top: 127px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.slogang_span {
  color: #FC94AF;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.slogan-g- {
  width: 343px;
  height: 50px;
  left: 231px;
  top: 28px;
  position: absolute;
}

.thngtincanhn_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.thng-tin-ca-nhn {
  left: 490px;
  top: 215px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.tn_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.tn {
  left: 527px;
  top: 266px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.nguynvnb_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.nguyn-vn-b {
  left: 662px;
  top: 266px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.email_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.email {
  left: 527px;
  top: 307px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.nguyenvanbgmailcom_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.nguyenvanbgmailcom {
  left: 662px;
  top: 307px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.mtkhu_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.mt-khu {
  left: 527px;
  top: 348px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.fspan {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.text- {
  left: 662px;
  top: 348px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.chcvu_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.chc-vu {
  left: 527px;
  top: 389px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.trngphongmarketing_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.trng-phong-marketing {
  left: 662px;
  top: 389px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.phnquyn_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.phn-quyn {
  left: 527px;
  top: 430px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.superadmin_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.50px;
  word-wrap: break-word;
}

.super-admin {
  left: 662px;
  top: 430px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.rectangle-56 {
  width: 119px;
  height: 32px;
  left: 777px;
  top: 483px;
  position: absolute;
  background: #0D0D55;
  border-radius: 10px;
}

.cpnht_span {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 50px;
  word-wrap: break-word;
}

.cp-nht {
  width: 71px;
  left: 802px;
  top: 474px;
  position: absolute;
  text-align: center;
}

.content_01 {
  flex: 1 1 0;
  align-self: stretch;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
}

.generic-avatar {
  left: 1318px;
  top: 52px;
  position: absolute;
}

.image-2 {
  width: 338px;
  height: 313px;
  left: -49px;
  top: -58px;
  position: absolute;
}

.eye {
  left: 857px;
  top: 345px;
  position: absolute;
}

.icon_01 {
  position: relative;
}

.state-layer_01 {
  flex: 1 1 0;
  align-self: stretch;
  padding: 4px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.content_02 {
  width: 40px;
  overflow: hidden;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.instance-1st-trailing-icon {
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.a_icon_search_chucnang {
  left: 308px;
  top: 4px;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.icon {
  position: relative;
}

.state-layer {
  align-self: stretch;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.content {
  width: 40px;
  overflow: hidden;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.leading-icon {
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.search-bar {
  width: 360px;
  height: 56px;
  max-width: 720px;
  left: 16px;
  top: 250px;
  position: absolute;
  background: white;
  overflow: hidden;
  border-radius: 28px;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  display: inline-flex;
}

.a_f_canhan2 {
  width: 1440px;
  height: 1024px;
  position: relative;
  background: #FFFEFE;
  overflow: hidden;
}
